/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock

# custom os-release
/os-release

# Emacs auto backup file
*~

# Ignore fish shell history and variables
dots/.config/fish/fish_variables
dots/.config/fish/conf.d/fish_frozen_key_bindings.fish
dots/.config/fish/conf.d/fish_frozen_theme.fish
dots/.local/share/fish/fish_history

# Ignore ZapZap database and cache
dots/.local/share/ZapZap/db/zapzap.db
dots/.local/share/ZapZap/QtWebEngine/storage-whats/Service Worker/ScriptCache/index-dir/the-real-index

# fuzzel
dots/.config/fuzzel/fuzzel_theme.ini

# hyprland
dots/.config/hypr/hyprland/colors.conf
dots/.config/hypr/hyprlock/colors.conf

# gvfs metadata
dots/.local/share/gvfs-metadata

# kactivitymanagerd
dots/.local/share/kactivitymanagerd

# Thumbnails
*.xbel
*.bak
*.tbcache


dots/.config/fish/conf.d/rustup.fish
