/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock

# custom os-release
/os-release

# Emacs auto backup file
*~
dots/.config/fish/fish_variables
dots/.config/fish/fish_variables
dots/.config/fish/conf.d/fish_frozen_key_bindings.fish
dots/.config/fish/conf.d/fish_frozen_theme.fish
dots/.local/share/fish/fish_history
